{{# each products }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>HD-Shop</title>
</head>
<body>
    <section class="header">
        <div class="side-menu" id="side-menu">
            <ul>
                <li>Tivi và thiết bị thông minh<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>Tivi bán chạy</li>
                        <li>Smart TV</li>
                        <li>Internet TV</li>
                        <li>Thiết bị thông minh</li>
                    </ul>
                </li>
                <li>PC và linh kiện<i class="fa fa-angle-right"></i>
                     <ul>
                        <li>Mainboard</li>
                        <li>RAM</li>
                        <li>PSU-Nguồn</li>
                        <li>Tản nhiệt</li>
                    </ul>
                </li>
                <li>Laptop, Macbook và phụ kiện<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>Laptop Acer</li>
                        <li>Laptop Asus</li>
                        <li>Laptop Dell</li>
                        <li>Laptop Lenovo</li>
                    </ul>
                </li>
                <li>Màn hình máy tính<i class="fa fa-angle-right"></i>
                     <ul>
                        <li>Kích cỡ</li>
                        <li>Thương hiệu</li>
                        <li>Màn hình cong</li>
                        <li>Độ phân giải</li>
                    </ul>
                </li>
                <li>Thiết bị ngoại vi<i class="fa fa-angle-right"></i>
                     <ul>
                        <li>Chuột gaming</li>
                        <li>Chuột văn phòng</li>
                        <li>Bàn phím gaming</li>
                        <li>Tai nghe gaming</li>
                    </ul>
                </li>
                <li>Phần mềm và phụ kiện<i class="fa fa-angle-right"></i>
                     <ul>
                        <li>Phần mềm key điện tử</li>
                        <li>Phần mềm key bản cứng</li>
                        <li>Webcam</li>
                        <li>Ghế gaming</li>
                    </ul>
                </li>
                <li>HDMall ACER<i class="fa fa-angle-right"></i>
                     <ul>
                        <li>Máy tính doanh nghiệp</li>
                        <li>Laptop gaming</li>
                        <li>Laptop sinh viên, văn phòng</li>
                        <li>Laptop mỏng nhẹ</li>
                    </ul>
                </li>
                <li>HDMall HP<i class="fa fa-angle-right"></i>
                     <ul>
                        <li>Máy in</li>
                        <li>Máy scan</li>
                        <li>Mực in</li>
                        <li>Laptop</li>
                    </ul>
                </li>
                 <li>Tivi và thiết bị thông minh<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>Tivi bán chạy</li>
                        <li>Smart TV</li>
                        <li>Internet TV</li>
                        <li>Thiết bị thông minh</li>
                    </ul>
                </li>
                 <li>Tivi và thiết bị thông minh<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>Tivi bán chạy</li>
                        <li>Smart TV</li>
                        <li>Internet TV</li>
                        <li>Thiết bị thông minh</li>
                    </ul>
                </li>
                 <li>Tivi và thiết bị thông minh<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>Tivi bán chạy</li>
                        <li>Smart TV</li>
                        <li>Internet TV</li>
                        <li>Thiết bị thông minh</li>
                    </ul>
                </li>
                 <li>Tivi và thiết bị thông minh<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>Tivi bán chạy</li>
                        <li>Smart TV</li>
                        <li>Internet TV</li>
                        <li>Thiết bị thông minh</li>
                    </ul>
                </li>
                <li>HDMall MICROSOFT<i class="fa fa-angle-right"></i>
                     <ul>
                        <li>Phần mềm Windows</li>
                        <li>Phần mềm Office</li>
                        <li>Phụ kiện Microsoft</li>
                        <li>Ổ cứng gắn ngoài</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="slider">
            <div id="slider" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://assets.pcmag.com/media/images/509156-macbook-pro-2018-1.jpg?width=810&height=456" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.imore.com/sites/imore.com/files/styles/xlarge/public/field/image/2018/03/ios-laptop-fake-mockup.jpg?itok=Fpk6KR47" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://9to5mac.com/wp-content/uploads/sites/6/2018/07/2018-macbook-pro2.jpg?quality=82&strip=all&w=1600" class="d-block w-100" alt="...">
    </div>
  </div>
    <ol class="carousel-indicators">
    <li data-target="#slider" data-slide-to="0" class="active"></li>
    <li data-target="#slider" data-slide-to="1"></li>
    <li data-target="#slider" data-slide-to="2"></li>
  </ol>
</div>
        </div>
    </section>


    <!-------------------------->
<section class="featured-categories">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="https://images-na.ssl-images-amazon.com/images/I/71fnx7xilML._SL1500_.jpg" alt="">
            </div> 
            <div class="col-md-4">
                <img src="http://maihoang.com.vn/uploads/SUV500.png" alt="">
            </div> 
            <div class="col-md-4">
                <img src="http://thienanjsc.com.vn/media/product/4908_colorful_igame_z170_ymir_u_chipset_intel_z170_socket_lga1151_vga_onboard.jpg?v=2.1" alt="">
            </div>  
        </div>
    </div>
    </section>

    <!--------->
    <section class="on-sale">
        <div class="container">
            <div class="title-box">
                <h2>On Sale</h2>
            </div>
            <div class="row">
                {{# each this}}
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="{{ this.imagePath }}" alt="">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                                 </button>
                            <button type="button" class="btn btn-secondary" title="Heart">
                                <i class="fa fa-star"></i>
                                 </button>
                            <a href="/add-to-card/{{this._id}}"><button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                                </button></a>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-alt"></i>
                        <h3> {{ this.description }}</h3>
                        <h5>{{ this.price }}</h5>

                    </div>
                </div>

      <div class="col-md-3">
                    <div class="product-top">
                        <img src="https://cdn.chv.me/images/thumbnails/Xiaomi-Mi-Bluetooth-Mouse-is-ccXttOBw.jpg.thumb_400x400.jpg" alt="">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                                 </button>
                            <button type="button" class="btn btn-secondary" title="Heart">
                                <i class="fa fa-star"></i>
                                 </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                                </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-alt"></i>
                        <h3>Fitness Watch</h3>
                        <h5>$40.00</h5>

                    </div>
                </div>

                      <div class="col-md-3">
                    <div class="product-top">
                        <img src="https://cdn.chv.me/images/thumbnails/Xiaomi-Mi-Bluetooth-Mouse-is-ccXttOBw.jpg.thumb_400x400.jpg" alt="">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                                 </button>
                            <button type="button" class="btn btn-secondary" title="Heart">
                               <i class="fa fa-star"></i>
                                 </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                                </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-alt"></i>
                        <h3>Fitness Watch</h3>
                        <h5>$40.00</h5>

                    </div>
                </div>

      <div class="col-md-3">
                    <div class="product-top">
                        <img src="https://cdn.chv.me/images/thumbnails/Xiaomi-Mi-Bluetooth-Mouse-is-ccXttOBw.jpg.thumb_400x400.jpg" alt="">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                                 </button>
                            <button type="button" class="btn btn-secondary" title="Heart">
                                <i class="fa fa-star"></i>
                                 </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                                </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-alt"></i>
                        <h3>Fitness Watch</h3>
                        <h5>$40.00</h5>

                    </div>
                </div>
                 {{/ each}}
            </div>
        </div>
        <div class="container">
            <div class="title-box">
                <h2>Show</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="https://cdn.chv.me/images/thumbnails/Xiaomi-Mi-Bluetooth-Mouse-is-ccXttOBw.jpg.thumb_400x400.jpg" alt="">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                                 </button>
                            <button type="button" class="btn btn-secondary" title="Heart">
                                <i class="fa fa-star"></i>
                                 </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                                </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-alt"></i>
                        <h3>Fitness Watch</h3>
                        <h5>$40.00</h5>

                    </div>
                </div>

      <div class="col-md-3">
                    <div class="product-top">
                        <img src="https://cdn.chv.me/images/thumbnails/Xiaomi-Mi-Bluetooth-Mouse-is-ccXttOBw.jpg.thumb_400x400.jpg" alt="">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                                 </button>
                            <button type="button" class="btn btn-secondary" title="Heart">
                                <i class="fa fa-star"></i>
                                 </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                                </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-alt"></i>
                        <h3>Fitness Watch</h3>
                        <h5>$40.00</h5>

                    </div>
                </div>

                      <div class="col-md-3">
                    <div class="product-top">
                        <img src="https://cdn.chv.me/images/thumbnails/Xiaomi-Mi-Bluetooth-Mouse-is-ccXttOBw.jpg.thumb_400x400.jpg" alt="">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                                 </button>
                            <button type="button" class="btn btn-secondary" title="Heart">
                               <i class="fa fa-star"></i>
                                 </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                                </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-alt"></i>
                        <h3>Fitness Watch</h3>
                        <h5>$40.00</h5>

                    </div>
                </div>

      <div class="col-md-3">
                    <div class="product-top">
                        <img src="https://cdn.chv.me/images/thumbnails/Xiaomi-Mi-Bluetooth-Mouse-is-ccXttOBw.jpg.thumb_400x400.jpg" alt="">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                                 </button>
                            <button type="button" class="btn btn-secondary" title="Heart">
                                <i class="fa fa-star"></i>
                                 </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                                </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-alt"></i>
                        <h3>Fitness Watch</h3>
                        <h5>$40.00</h5>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <!------>

    <section class="website-features">
        <div class="container">
            <div class="row">
                <div class="col-md-3 feature-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Google_fuchsia3.svg/1200px-Google_fuchsia3.svg.png" alt="">
                    <div class="feature-text">
                        <p><b>100% Original item </b>are available at company</p>
                    </div>
                </div>
                <div class="col-md-3 feature-box">
                <img src="https://www.seoclerk.com/pics/558390-11FO8A1505384509.png" alt="">
                    <div class="feature-text">
                        <p><b>Return within 30 dáy </b>of recieving your order.</p>
                    </div>
                    </div>
                <div class="col-md-3 feature-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/33/Vanamo_Logo.png" alt="">
                    <div class="feature-text">
                        <p><b>Get free delivery for every</b>order on more than price</p>
                    </div>
                </div>
                <div class="col-md-3 feature-box">
                    <img src="http://haihagroup.com/thietke/upload/product/thiet-ke-logo-cong-ty-xay-dung-285.jpg" alt="">
                    <div class="feature-text">
                        <p><b>Pay online through multiple </b>payment ooption</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!------->
    <section class="footer">
        <div class="container tex-center">
            <div class="row">
                <div class="col-md-3">
                    <h1>Useful Links</h1>
                    <p>Privacy Policy</p>
                    <p>Terms of Use</p>
                    <p>Return Policy</p>
                    <p>Discount Coupons</p>
                </div>
                 <div class="col-md-3">
                    <h1>Company</h1>
                    <p>About Us</p>
                    <p>Contact Us</p>
                    <p>Career</p>
                    <p>Affiliate</p>
                </div>
                 <div class="col-md-3">
                    <h1>Follow Us On</h1>
                    <p> <i class="fab fa-facebook"></i> Facebook</p>
                    <p> <i class="fab fa-youtube"></i> Youtube </p>
                    <p> <i class="fab fa-linkedin"></i> Linkedin</p>
                    <p> <i class="fab fa-twitter"></i> Twitter</p>
                </div>
                 <div class="col-md-3 footer-image">
                    <h1>Download App</h1>
                    <img src="https://bebubam.com/wp-content/uploads/2019/01/appstore-icon-mobile-retina.png" alt="">
                </div>
            </div>
            <hr>
            <p class="copyright">Made with <i class="fa fa-star"></i> by Duong Thuy</p>
        </div>
    </section>
    
<script>
    function openmenu()
    {
        
        document.getElementById("side-menu").style.display="block";
        document.getElementById("menu-btn").style.display="none";
        document.getElementById("close-btn").style.display="block";
    }
     function closemenu()
    {
        
        document.getElementById("side-menu").style.display="none";
        document.getElementById("menu-btn").style.display="block";
        document.getElementById("close-btn").style.display="none";
    }

</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" </script>
   
</body>
</html>
{{/each}}









